@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/_helveticaneuedesktinterface_bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/_helveticaneuedesktinterface_thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/_helveticaneuedesktinterface_ultralightp2.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('/fonts/_helveticaneuedesktinterface_regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}



body {
  color: var(--foreground);
  background: var(--background);
  /* Apply the locally loaded Roboto Serif font */
  font-family: "Helvetica Neue", sans-serif;
  scroll-snap-type: y proximity;
}

/* Optional: Remove or update the universal selector if you want a consistent font */
* {
  font-family: "Helvetica Neue", serif;
}


html {
  scroll-behavior: smooth;
  overscroll-behavior: none;
}
